services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 0
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "60", "1"]

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  finbot:
    build:
      context: ./ArGe-Chatbot/backend
      dockerfile: Dockerfile
    container_name: finbot
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: unless-stopped

  backend:
    build:
      context: ./finchange_backend
      dockerfile: Dockerfile
    container_name: finchange_backend
    profiles:
      - backend
    env_file:
      - .env
    environment:
      - finbot.base-url=http://finbot:8000
      - SPRING_PROFILES_ACTIVE=dev
    ports:
      - "8080:8080"
    depends_on:
      - finbot
      - kafka
      - redis
      - minio
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend_react
      dockerfile: Dockerfile
    container_name: frontend_react
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WDS_SOCKET_PORT=0
    ports:
      - "3000:3000"
    # no hard dependency on 'backend' here; backend will run locally on Windows
    volumes:
      - ./frontend_react:/app
      - /app/node_modules
    restart: unless-stopped

volumes:
  minio_data: